@import url("news_window.css");

body {
    background-color: seagreen;
}

h1 {
    color: white;
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#search-button {
    background-color: white;
    color: black;
}

/* IMPORT GOOGLE FONTS */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);




/* SCROLLER SIZES */

#NewsArea, #news_window iframe 
		{
		height: 176px;
		width: 100%; /* MAX WIDTH BELOW */
		}

/* NEWS FRAME AREA TOP LEVEL PAGE - WIDTH ADDS BORDER */

#news_window	{
		width: 100%;
		max-width: 250px;
		min-width: 200px;
		margin: 0px auto 10px auto;
		border: #000000 1px solid;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		}

#news_window iframe 
		{
		display: block;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		}

.news_window-title 
		{
		color: #FFFFFF;
		font: normal 20px "Droid Sans", arial, sans-serif;
		background-color: #778CA2;
		text-align: left;
		padding: 5px 5px 5px 5px;
		border-bottom: #CCCCCC 5px solid;
		}




/* EMBEDDED NEWS PAGE BODY */

#NewsArea	{ position: absolute; left: 0; top: 0px; overflow: auto; -webkit-overflow-scrolling: touch; }

body.news-page 	{
		background-color: #FFFFFF;
		margin: 0;
		padding: 0;
		border: 0;
		}

/* FONTS & PADDING */

.news-text-if	{		
		color: #666666;
		font: normal 12px "Droid Sans", arial, sans-serif;
		text-align: left;
		padding: 8px 7px 0px 7px;
		}

.news-title-if	{
		color: #000000;
		font: bold 15px "Droid Sans", arial, sans-serif;
		text-align: left;
		border-bottom: #666666 0px solid;
		}

/* EMBEDDED NEWS PAGE LINK COLORS */

.news-page a:link	{ color: #0033FF; text-decoration: none; }

.news-page a:visited	{ color: #6633FF; text-decoration: none; }

.news-page a:active	{ color: #0033FF; text-decoration: none; }

.news-page a:hover	{ color: #6699FF; text-decoration: underline; }
