

.search {
    margin: 150px auto 50px auto;
}

h5 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
}


.search-button {
    width: 470px;
    padding: 0 15px;
    margin: 30px auto 130px auto;
}

.search-button input {
    width: 330px;
    height: 20px;
    padding: 20px 15px;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.search-button input:focus {
    outline: 0;
    background: #fff;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
    box-shadow: 0 0 2px rgba(0, 0, 0, .8) inset;
}

.search-button input::-webkit-input-placeholder {
    color: #cccccc;
    font-weight: normal;
    font-style: italic;
}


.search-button button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    height: 40px;
    width: 110px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: #47cf73;
}

.search-button button:hover {
    opacity: 0.8;
}

.search-button button:active,
.search-button button:focus {
    opacity: 0.8;
}

.search-button button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #47cf73 transparent;
    top: 12px;
    left: -6px;
}

#stock {
    background-color: #eeeeee;
    height: 400px;
    padding: 30px;
}

#news {
  background-color: #eeeeee;
  height: 400px;
  padding: 30px;

}

/* footer */
.footer {
    padding: 1em 0;
    margin-top: 7em;
    text-align: center;
}

@media screen and (min-width: 300px) {
     #stock {
        margin-bottom: 1em;
    }

    .footer {
        text-align: center;
    }

}

@media screen and (min-width: 768px) {
      #stock {
        margin-bottom: 0em;
    }
}

