body {
    background-color: rgb(135, 161, 186);
}
.header{
    margin: -2em 0;
}
.header h4 {
    font-family:  'Courier New', Courier, monospace;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #555;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

.search {
    margin: 0px auto 50px auto;
}

.search-button {
    width: 470px;
    padding: 15px;
    margin: 8px auto 130px auto;
}

.search .search-button input {
    width: 300px;
    height: 0px;
    padding: 20px 15px;
    float: left;
    font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 15px;
}

.search-button input:focus {
    outline: 0;
    background: #fff;
}

.search-button input::-webkit-input-placeholder {
    color: #cccccc;
    font-weight: normal;
    font-style: italic;
}

.material-icons{
font-size: 1rem;
}

h5 {
    text-align: center;
}

#stockHeader {
    background-color: #fff;
    height: 50px;
    margin-bottom: 45px;
}

#symbol {
    font-size: 40px;
    background-color: #555;
    color: #fff;
    height: 50px;
    padding: 2px;
    border-radius: 5px;

}

.label {
    margin-top: 5px;
    background-color:#fff;
    height: 50px;
    padding: 2px 2px 7px 2px;
}

#country {
    font-size: 15px;
    margin-top: 5px;
    background-color: #555;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
}

#industry {
    font-size: 15px;
    margin-top: 5px;
    background-color: #555;
    color: #fff;
    padding: 2px;
    border-radius: 5px;
}

.newsTitle {
    margin: 15px;
}

.newsStory {
    margin: 30px;
    height: 65%;
    overflow: auto;
}

#stock, #news {
    background-color: #eeeeee;
    height: 400px;
    padding: 30px;
    border-radius: 15px;
}

#results{
    float: left;
}

#searchHistory div {
    text-align: center;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid gray;
    background-color: lightgray;
}

/* footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* search bar moved up.  Company name, still off to right.
 */
 /* news is not feeding into the boxes.  */
 @media screen and (max-width:640px){
    
    .header h4{
        text-align: center;
    }
    
    #stock {
        margin-bottom: 0em;
    }
    #stock {
        margin-bottom: 1em;
    }
   
    .search-button button{
        width: 330px;
        border-radius: 15px;
        background-color: grey;
        margin: 0 auto;
        float: left;
        /* display: block;
        margin: 0 auto;            */
 }
}
