body {
    background-color: seagreen;
}
.header{
    margin: -2em 0;
}
.header h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #555;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
}

.search {
    margin: 0px auto 50px auto;
}

.search-button {
    width: 470px;
    padding: 15px;
    margin: 8px auto 130px auto;
}

.search .search-button input {
    width: 300px;
    height: 0px;
    padding: 20px 15px;
    float: left;
    font: 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.search-button input:focus {
    outline: 0;
    background: #fff;
}

.search-button input::-webkit-input-placeholder {
    color: #cccccc;
    font-weight: normal;
    font-style: italic;
}


.search-button button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    height: 40px;
    width: 110px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    background: #00918e;
    cursor: pointer;
}

.search .search-button button:hover {
    opacity: 0.8;
}

#searchBtn {
    background-color: darkslategray;
    margin: 0px 0px 8px 0px;

}

.search .search-button button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 8px; 
    border-style: solid solid solid none;
    border-color: transparent #00918e transparent;
    top: 12px;
    left: -6px;
}
.material-icons{
font-size: 1rem;
}


#stock, #news {
    background-color: #eeeeee;
    height: 400px;
    padding: 30px;
}



/* footer */
footer {
    background-color: #555;
    color: #fff;
    padding: 1em;
    text-align: center;
}

/* search bar moved up.  Company name, still off to right.
 */
 /* news is not feeding into the boxes.  */
